<html>
        <head>
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
                <title>Home</title>
                <link rel="stylesheet" type="text/css"  href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
                <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">       
        </head> 

    <body>
        <p> This is pure html view home.html. Since We are using ejs, the html file is renamed to ejs extension</p>
        <h1>Welcome to <%= title %>!</h1>

    </body>
</html>